body{
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
}

footer{
    width: 100%;
    border-top: solid 2px #ee7800;
    position: absolute;
    bottom: 0;
}

header h1 {
    color: #000;
    font-weight: normal;
    margin: 0;
    }

nav{
    border-bottom: solid 2px #ee7800;
}

img {
    object-fit: contain;
    border-radius: 10px;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: underline #000 ;
}

/* 幅1024px以下*/
@media (max-width: 1024px) {
    header h1 { font-size: 16px; }
    main h2 { font-size: 14px; }
    input, label{ font-size:12px; }
    .logo { width:90%; }
}

/* 幅1025px以上*/
@media (min-width: 1025px){
    h1 { font-size: 20px; }
}